@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
}

.fontFamilyContent {
  font-family: GJGP;
}

.privacyPolicies {
  padding: 15px;
}

.privacyPolicies > div {
  text-align: center;
  font-size: 15px;
}

.privacyPolicies a {
  text-decoration: underline;
}

.headerApp {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1005;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.headerApp .headerLogo {
  height: 40px;
}

.headerApp .headerLogo img {
  height: 100%;
}

.headerApp .headerNav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerApp .headerNav li {
  padding: 0 15px;
}

.headerApp .headerNav li a {
  text-decoration: none;
}

.headerApp .headerNav li:last-of-type {
  padding-right: 0;
}

.headerApp .headerNav i {
  margin-left: 5px;
}

.homeBanner {
  padding: 80px 0;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  position: relative;
}

.homeBanner .btn,
.homeBanner input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.homeBanner .overlap {
  background: rgba(51, 51, 51, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homeBanner .kkSearch .title {
  margin: 0 0 5px;
  text-shadow: 0 5px 15px rgba(51, 51, 51, 0.1);
  line-height: 1.5;
}

.homeBanner .kkSearch .subTitle {
  margin: 0 0 15px;
  font-weight: 400;
  opacity: 0.9;
  text-shadow: 0 5px 15px rgba(51, 51, 51, 0.1);
  letter-spacing: 1.5px;
}

.homeBanner .kkSearch .searchBlock {
  position: relative;
  -webkit-box-shadow: 0 10px 20px rgba(51, 51, 51, 0.1);
          box-shadow: 0 10px 20px rgba(51, 51, 51, 0.1);
}

.homeBanner .kkSearch .searchBlock .input-group input {
  height: 48px;
}

.homeBanner .kkSearch .searchBlock .input-group .btn {
  padding: 6px 24px;
}

.homeBanner .kkSearch .searchBlock .search_dropdown {
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 55px;
  left: 0;
}

.homeBanner .kkSearch .searchBlock .search_dropdown .title {
  color: #000;
  margin: 0 0 15px 20px;
  font-weight: 700;
  font-size: 15px;
}

.homeBanner .kkSearch .searchBlock .search_dropdown ul {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-rule: 1px solid #eee;
          column-rule: 1px solid #eee;
  list-style: none;
}

.homeBanner .kkSearch .searchBlock .search_dropdown ul a {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
}

.homeBanner .kkSearch .searchBlock .search_dropdown ul a i {
  color: #ef7a70;
  font-weight: 700;
  margin: auto 0 auto 10px;
  font-size: 10px;
}

.homeBanner .kkSearch .searchBlock .search_dropdown ul a i::before {
  content: '\f3b1　HOT';
}

.homeBanner .kkSearch .searchBlock .search_dropdown ul li:hover {
  background: #f4f4f4;
}

.homeBanner .quickSearch {
  padding: 10px 0;
  font-size: 13px;
}

.homeBanner .quickSearch .quickSearch_title {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}

.homeBanner .quickSearch .gap {
  display: inline-block;
  opacity: 0.5;
  vertical-align: top;
  margin: 5px;
}

.homeBanner .quickSearch .search_keyword {
  display: inline-block;
  width: 70%;
  margin-bottom: 10px;
}

.homeBanner .quickSearch .search_keyword .btn {
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
  padding: 2px 12px;
  margin: 4px 3px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.homeBanner .quickSearch .search_keyword .btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.theme {
  width: 100%;
  margin: 50px auto;
}

.theme .themeLists {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.theme .themeLists .themeBlock {
  display: inline-block;
  width: 16%;
}

.theme .themeLists .themeBlock .themeType {
  position: relative;
  display: inline-block;
}

.theme .themeLists .themeBlock .themeType .themeIcon {
  width: 60px;
  height: 60px;
  margin: 0;
  display: inline-block;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.theme .themeLists .themeBlock .themeType .hot::before,
.theme .themeLists .themeBlock .themeType .new::before {
  width: 43px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -12px;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  font-style: initial;
  line-height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
}

.theme .themeLists .themeBlock .themeType .hot::before {
  content: 'HOT';
  background-color: #ffb400;
}

.theme .themeLists .themeBlock .themeType .new::before {
  content: 'NEW';
  background-color: #ef7a70;
}

.theme .themeLists .themeTitle {
  margin: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
  font-weight: 500;
}

.latest {
  padding: 30px 0;
}

.latest .latestHead {
  margin-bottom: 20px;
}

.latest .latestHead .title {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.latest .latestCarousel {
  width: 100%;
  position: relative;
}

.latest .latestCarousel .latestContent {
  overflow: hidden;
  padding: 28px 14px;
  margin: -28px -14px;
}

.latest .latestCarousel .latestContent .contentItem {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.latest .latestCarousel .latestContent .contentItem .item {
  width: calc( 98% / 3);
  padding-right: 1%;
}

.latest .latestCarousel .latestContent .contentItem .item .itemContent {
  height: 165px;
}

.latest .latestCarousel .latestContent .contentItem .item .itemContent .image {
  height: 100%;
  border-radius: 10px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.latest .latestCarousel .latestContent .contentItem .active .itemContent {
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.latest .latestCarousel .latestBtn .btnPN {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #666;
  text-align: center;
  border-radius: 100%;
  background-color: #fff;
  margin: 0;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.latest .latestCarousel .latestBtn .prev {
  left: -60px;
}

.latest .latestCarousel .latestBtn .next {
  right: -60px;
}

.latest .latestCarousel .latestBtn .disabled {
  display: none;
}

.copyright {
  text-align: center;
}
/*# sourceMappingURL=about.css.map */